@import 'vars';
@import 'global';
@import 'fonts';

//Start

.header{
    min-height: 800px;
    @include ibg;
    
}

.header__inner{
    position: relative;
    padding-top: 25px;
}
.header__inf{
    
    display: flex;
    position: absolute;
    right: 0px;
    top: 10px;
    color: #000;
    padding: 10px 20px 10px 40px;
    background-color:#fff;
    align-items: center;
    &-title{
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }
    &-text{
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
    }
}

.header__timebox,
.header__phonebox{
    position: relative;
    &::before{
        position: absolute;
        color: $red;
        top: 12px;
        left: -28px;
        font-size: 20px;
        
    }
}

.header__phonebox{
    margin-left: 70px;
    margin-right: 35px;
}

.link__btn{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: $red;
    padding: 10px 40px 10px 20px;
    position: relative;
    &::after{
        position: absolute;
        right: 10px;
        content: "\ea3c";
        font-family: 'icomoon';
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
}

.header__menu-box{
    background: #fff;
    
    margin-top: 80px;
    border: 1px solid $red;

}
.menu{
    ul{
        li{
            display: inline;
            a{
                text-align: center;
                padding: 18px 0px;
                width: 16.2%;
                font-size: 17px;
                line-height: 22px;
                font-weight: 700;
                color: #000;
                outline: none;
                &:hover{
                    background-color: rgba(195,11,11,1);
                    color: #fff;
                }
            }
            
        }
    }
}

.header__title{
    color: $red;
    margin-top: 90px;
    margin-bottom: 35px;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, 
    #fff -1px 1px 0, #fff 1px -1px 0;
    font-weight: 900;
    &-name{
        font-size: 56px;
        line-height: 70px;
    }
    &-city{
        font-size: 40px;
        line-height: 50px;
    }
}

.header__maplink{
    a{
        box-shadow: 1px 2px 3px rgba($color: #fff, $alpha: 0.6);    
    }
    
}
// end header

// start about
.about{
    position: relative;
    &__inner{
        max-width: 1100px;
    
        top: -100px;
        left: 20%;
        right: 20%;
        position: absolute;
        background-color: #fff;
        padding: 110px 50px 20px;
    }
    
    &__text{
        padding: 10px;
        margin-bottom: 20px;
    }
    margin-right: auto;
    &__img{
        margin-left: 30px;
        img{
            border-radius: 20px;
            max-width: 860px;
            min-height: 460px;
        }
    }
}
.title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: $blue;
    margin-bottom: 30px;
}
// end about

// start advantages

.advantages{
    margin-top: 800px;
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    &__item{
        display: flex;
        &-img{
            width: 70px;
            height: 70px;
            @include ibg;
        }
        &-info{
            max-width: 235px;
            margin-left: 10px;
        }
        &-title{
            font-size: 19px;
            font-weight: 900;
            line-height: 24px;
            color: $blue;
            margin-bottom: 25px;
        }
    }
}


//end advantages

//start video
.videobox{
    @include ibg;
    min-height: 500px;
    position: relative;
    margin-bottom: 140px;
    &__inner{
        position: absolute;
        top: 30%;
        right: 20%;
    }
    &-title{
        font-size: 36px;
        line-height: 42px;
        font-weight: 900;
        color: #fff;
        max-width: 340px;
        margin-bottom: 50px;
    }
    &-icon{
        width: 140px;
        height: 140px;
        @include ibg;
    }

}
//end video

// start services   

.services{
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 110px;
    }
    &__item{
        text-align: center;
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        margin-top: 25px;
        padding: 50px 20px;
        &-img{
          width: 63px;
          height: 63px;
          @include ibg;
          margin: 0px auto;
        }
        &-title{
            font-size: 19px;
            font-weight: 900;
            line-height: 26px;
            margin-bottom: 25px;
            color: $blue;
            margin-top: 15px;
        }

    }
}
.shadow{
    box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}

// end services

//End


@import 'media';
