@import 'vars';
@import 'global';
@import 'fonts';

//Start

.header{
    min-height: 800px;
    @include ibg;
    
}

.header__inner{
    position: relative;
    padding-top: 25px;
}
.header__inf{
    
    display: flex;
    position: absolute;
    right: 0px;
    top: 10px;
    color: #000;
    padding: 10px 20px 10px 40px;
    background-color:#fff;
    align-items: center;
    &-title{
        text-transform: uppercase;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
    }
    &-text{
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
    }
}

.header__timebox,
.header__phonebox{
    position: relative;
    &::before{
        position: absolute;
        color: $red;
        top: 12px;
        left: -28px;
        font-size: 20px;
        
    }
}

.header__phonebox{
    margin-left: 70px;
    margin-right: 35px;
}

.link__btn{
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: $red;
    padding: 10px 40px 10px 20px;
    position: relative;
    &::after{
        position: absolute;
        right: 10px;
        content: "\ea3c";
        font-family: 'icomoon';
        font-size: 14px;
        font-weight: 700;
        color: #fff;
    }
}

.header__menu-box{
    background: #fff;
    
    margin-top: 80px;
    border: 1px solid $red;

}
.menu{
    ul{
        li{
            display: inline;
            a{
                text-align: center;
                padding: 18px 0px;
                width: 16.2%;
                font-size: 17px;
                line-height: 22px;
                font-weight: 700;
                color: #000;
                outline: none;
                &:hover{
                    background-color: rgba(195,11,11,1);
                    color: #fff;
                }
            }
            
        }
    }
}

.header__title{
    color: $red;
    margin-top: 90px;
    margin-bottom: 35px;
    text-shadow: #fff 1px 1px 0, #fff -1px -1px 0, 
    #fff -1px 1px 0, #fff 1px -1px 0;
    font-weight: 900;
    &-name{
        font-size: 56px;
        line-height: 70px;
    }
    &-city{
        font-size: 40px;
        line-height: 50px;
    }
}

.header__maplink{
    a{
        box-shadow: 1px 2px 3px rgba($color: #fff, $alpha: 0.6);    
    }
    
}
// end header

// start about
.about{
    position: relative;
    &__inner{
        max-width: 1100px;
        border-radius: 40px;
        top: -100px;
        left: 20%;
        right: 20%;
        position: absolute;
        background-color: #fff;
        padding: 110px 50px 20px;
    }
    
    &__text{
        padding: 10px;
        margin-bottom: 20px;
    }
    margin-right: auto;
    &__img{
        margin-left: 30px;
        img{
            border-radius: 20px;
            max-width: 860px;
            min-height: 460px;
        }
    }
}
.title{
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: $blue;
    margin-bottom: 30px;
}
// end about

// start advantages

.advantages{
    margin-top: 800px;
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    &__item{
        display: flex;
        &-img{
            width: 70px;
            height: 70px;
            @include ibg;
        }
        &-info{
            max-width: 235px;
            margin-left: 10px;
        }
        &-title{
            font-size: 19px;
            font-weight: 900;
            line-height: 24px;
            color: $blue;
            margin-bottom: 25px;
        }
    }
}


//end advantages

//start video
.videobox{
    @include ibg;
    min-height: 500px;
    position: relative;
    margin-bottom: 140px;
    &__inner{
        position: absolute;
        top: 30%;
        right: 20%;
    }
    &-title{
        font-size: 36px;
        line-height: 42px;
        font-weight: 900;
        color: #fff;
        max-width: 340px;
        margin-bottom: 50px;
    }
    &-icon{
        width: 140px;
        height: 140px;
        @include ibg;
    }

}
//end video

// start services   

.services{
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 110px;
    }
    &__item{
        text-align: center;
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        margin-top: 25px;
        padding: 50px 20px;
        &-img{
          width: 63px;
          height: 63px;
          @include ibg;
          margin: 0px auto;
        }
        &-title{
            font-size: 19px;
            font-weight: 900;
            line-height: 26px;
            margin-bottom: 25px;
            color: $blue;
            margin-top: 15px;
        }

    }
}
.shadow{
    box-shadow: 0px 16px 24px rgba(38, 38, 38, 0.2), 0px 8px 16px rgba(38, 38, 38, 0.24);
}

// end services
// start appointment
.appointment{
    @include ibg;
    min-height: 980px;
    padding-top: 80px;
    &__inner{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__form{
        background-color: #fff;
        max-width: 585px;                                                                                                                                                                                                                                                           
        width: 100%;
        form{
            padding: 70px 60px 30px;
            text-align: center;
            input{
                padding: 15px 25px;
                display: block;
                margin-bottom: 22px;
                background-color: #f5f5f5;
                border: none;
                width: 100%;
                //border: 1px solid $blue;
            }
            textarea{
                padding: 15px 25px;
                display: block;
                background-color: #f5f5f5;
                border: none;
                width: 100%;
                //border: 1px solid $blue;
            }
            button{
                margin-left: 280px;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 700;
                line-height: 24px;
                color: #fff;
                text-transform: uppercase;
                background-color: $red;
                padding: 10px 40px 10px 20px;
                position: relative;
                &::after{
                    position: absolute;
                    right: 10px;
                    content: "\ea3c";
                    font-family: 'icomoon';
                    font-size: 14px;
                    font-weight: 700;
                    color: #fff;
                }
            }
            
        }
    }
}

.appointment__inf{
    padding: 100px 0px 50px;
    text-align: center;
    &-title{
        font-size: 56px;
        line-height: 56px;
        font-weight: 900;
        color: #fff;
        margin-bottom: 115px;
    }
    &-count{
        font-size: 96px;
        line-height: 96px;
        font-weight: 900;
        color:$red;
        margin-bottom: 70px;
    }
    &-text{
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        color:#fff;
        max-width: 265px;
    }
}
//end appointment

//start galary
.galary{
    position: relative;
    &__inner{
        max-width: 1100px;
        border-radius: 40px;
        top: -100px;
        left: 20%;
        right: 20%;
        position: absolute;
        background-color: #fff;
        padding: 110px 120px 20px;
    }
}


.galary__item{
    margin: 0 auto;
    &-img{
        width: 776px;
        height: 517px;
        @include ibg;
    }
}


.slick-list.draggable{
    text-align: center;
    position: relative;
    
}

.slick-next{
    position: absolute;
    font-size: 0px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 45%;
    right: -40px;
    cursor: pointer;
    outline: none;
    &::before{
        position: absolute;
        content: '\f101';
        font-family: 'icomoon';
        font-size: 50px;
        color: $blue;
        top:-6px;
        left: 8px;
    }
}

.slick-prev{
    position: absolute;
    font-size: 0px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 45%;
    left: -50px;
    cursor: pointer;
    outline: none;
    &::before{
        position: absolute;
        content: '\f100';
        font-family: 'icomoon';
        font-size: 50px;
        color: $blue;
        top:-6px;
        left: 5px;
    }
}
.slick-dots{
    text-align: center;
    margin-top: 20px;
}

.slick-dots{
    margin-top: 10px;
    li{
        &.slick-active{
            button{
                background-color: $blue;
            }
        }
        display: inline-block;
        &+li{
            margin-left: 10px;
        }
        button{
            outline: none;
            font-size: 0px;
            border: 1px solid $blue;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: #fff;
        }
    }
}

//end galary

// start review 
.review{
    margin-top: 840px;
    margin-bottom: 200px;
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__titlebox{
        max-width: 300px;
    }
    &__slider{
        max-width: 680px;
        
    }
    &__box{
        padding: 5px;
    }
    &__item{
        padding: 50px 50px 30px 50px;
        background-color: #fff;
        text-align: justify;
        
    }
    &__author{
        display: flex;
        align-items: center;
        margin-top: 15px;
        &-img{
            width: 48px;
            height: 48px;
            @include ibg;
            border: none; 
            border-radius: 50%;
        }
        &-name{
            margin-left: 15px;        
            font-size: 16px;
            line-height: 24px;
            color: $blue;
            font-weight: 700;
            
        }
    }
}



//end review

//End


@import 'media';
